*{
    padding: 0%;
    border: 0%;
}
body{
    background-color: hsl(212, 45%, 89%)
}
section{
    align-items: center;
    justify-content: center;
    height: 80vh;
    display: flex;
    border-radius: 15px;

}
div{
    border: 2px solid white;
    background-color: white;
    border-radius: 15px;

}
.container img{
    height: 300px;
    border-radius: 15px;
}
.container h1{
    text-align: center;
    margin-top: 5px;
}
.container p{
    justify-content: center;
    text-align: center;
    font-size: 15px;
}